<fieldset>
    <legend>
        <!-- icono -->
        <h2>Diseña</h2>
        <i class="fas fa-chevron-down"></i>
    </legend>
    <div>
        <label>Colores</label>
        <ul>
            <li class="first_palette">
                <input type="radio" id="palette1" name="palette1"
                    value="palette1">
                <div class="colorOne"></div>
                <div class="colorTwo"></div>
                <div class="colorThree"></div>
            </li>
            <li class="second_palette">
                <input type="radio" id="palette2" name="palette2"
                    value="palette2">
                <div class="colorOne"></div>
                <div class="colorTwo"></div>
                <div class="colorThree"></div>
            </li>
            <li class="third_palette">
                <input type="radio" id="palette3" name="palette3"
                    value="palette3">
                <div class="colorOne"></div>
                <div class="colorTwo"></div>
                <div class="colorThree"></div>
            </li>
        </ul>
    </div>
</fieldset>