<fieldset class="design js-collapsable-title">
    <legend class="design__legend">
        <div class="design__legend--wrapper">
            <i class="far fa-object-ungroup design__legend--icon"></i>
            <h2 class="design__legend--title">Diseña</h2>
        </div>
        <i class="fas fa-chevron-down arrow js-arrow"></i>
    </legend>
    <div class="design__colors js-design-content collapsed">
        <label>Colores</label>
        <ul>
            <li class="design__colors--item">
                <input type="radio" id="palette1" name="palette" value="palette1" class="checkbox">
                <div class="palette palette__first--firstColor"></div>
                <div class="palette palette__first--secondColor"></div>
                <div class="palette palette__first--thirdColor"></div>
            </li>
            <li class="design__colors--item">
                <input type="radio" id="palette2" name="palette" value="palette2" class="checkbox">
                <div class="palette palette__second--firstColor"></div>
                <div class="palette palette__second--secondColor"></div>
                <div class="palette palette__second--thirdColor"></div>
            </li>
            <li class="design__colors--item">
                <input type="radio" id="palette3" name="palette" value="palette3" class="checkbox">
                <div class="palette palette__third--firstColor"></div>
                <div class="palette palette__third--secondColor"></div>
                <div class="palette palette__third--thirdColor"></div>
            </li>
        </ul>
    </div>
</fieldset>