<fieldset class="fill collapsed">
    <legend class="fill__anunc js_collapsable_title_fill">
        <i class="far fa-keyboard fill__anunc--icon"></i>
        <h2 class="fill__anunc--h2">Rellena</h2>
        <i class="fas fa-chevron-down fill__anunc--arrow js-arrow"></i>
    </legend>
    <section class="fill__form js_fill_content">
        <label for="name" class="fill__form--required">Nombre completo</label>

        <input id="name" class="fill__form--input" type="text"
            placeholder="Ej. Sally Jill" name="name" required />

        <label for="position" class="fill__form--required">Puesto</label>

        <input type="position" id="position" name="position"
            class="fill__form--input" placeholder="Ej. front-end unicorn"
            required />

        <label for="image" class="fill__form--required">Imagen de perfil</label>

        <div class="div-container">
            <input type="file" id="image" name="image"
                accept="image/png, image/jpeg" value="Añadir imagen"
                class="div-container__button">
            <input type="checkbox" class="div-container__check">
        </div>
        <label for="email" class="fill__form--required">Email</label>

        <input type="email" class="fill__form--input" id="email" name="email"
            placeholder="Ej. sally.jill@gmail.com" required />

        <label for="telephone" class="fill__form--required">Teléfono</label>

        <input type="tel" class="fill__form--input" id="telephone"
            placeholder=" Ej: 555-55-55-55" name="telephone" />

        <label for="linkedin" class="fill__form--required">LinkedIn</label>

        <input type="text" class="fill__form--input" id="linkedin"
            placeholder=" Ej: linkedin.com/in/sally.hill" name="linkedin" />

        <label for="github" class="fill__form--required">Github</label>

        <input type="text" class="fill__form--input" id="github"
            placeholder=" Ej: @sally-hill" name="github" />
    </section>
</fieldset>