<section class="blueSection">
    <button type="reset" value="reset">  Reset
    </button>
    <article class="blueSection__article">
        <h2>Nombre Apellido</h2>
        <h5>Front-End Developer</h5>
        <div class="blueSection__article--image">

        </div>
        <ul>
            <li><a href="#"><i class="fa-regular fa-mobile-screen-button"></i></a></li>

            <li> <a href="#"><i class="fa-regular fa-envelope"></i></a></li>

            <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>

            <li> <a href="#"><i class="fa-brands fa-github-alt"></i></a></li>

        </ul>
    </article>

</section>