<section class="blueSection">
    <button class="blueSection__reset" type="reset" value="reset"><i
            class="blueSection__reset--icon far fa-trash-alt"></i>Reset
    </button>
    <article class="blueSection__article">
        <h2 class="blueSection__article--title">Nombre Apellido</h2>

        <h5 class="blueSection__article--subtitle">Front-End developer</h5>

        <div class="blueSection__article--photo"></div>

        <ul class="blueSection__article--containerList">
            <li class="item"><a href="#"><i class="fas fa-mobile-alt"></i></a>
            </li>

            <li class="item"> <a href="#"><i
                        class="icon far fa-envelope"></i></a></li>

            <li class="item"> <a href="#"><i
                        class="icon fab fa-linkedin-in"></i></a></li>

            <li class="item"> <a href="#"><i
                        class="icon fab fa-github-alt"></i></a></li>

        </ul>
    </article>

</section>