<section class="blueSection">
    <button class="blueSection__reset" type="reset" value="reset">Reset
    </button>
    <article class="blueSection__article">
        <h2 class="blueSection__article--title">Nombre Apellido</h2>

        <h5 class="blueSection__article--subtitle">Front-End developer</h5>

        <div class="blueSection__article--photo"></div>

        <ul class="blueSection__article--containerList">
            <li class="item"><a href="#"><i
                        class="icon far fa-object-ungroup"></i></a></li>

            <li class="item"> <a href="#"><i
                        class="icon far fa-object-ungroup"></i></a></li>

            <li class="item"> <a href="#"><i
                        class="icon far fa-object-ungroup"></i></a></li>

            <li class="item"> <a href="#"><i
                        class="icon far fa-object-ungroup"></i></a></li>

        </ul>
    </article>

</section>