<fieldset class="share collapsed">
    <legend class="share__legend js_collapsable_title_share js_title_list">
        <div class="share__legend--wrapper">
            <i class="fas fa-share-alt share__legend--icon"></i>
            <h2 class="share__legend--title">Comparte</h2>
        </div>
        <a><i class="fas fa-chevron-down js-arrow"></i></a>
    </legend>
    <div class="share__button js_share_content">
        <button class="share__button--item js_btn_share">
            <i class="far fa-address-card share__button--icon"></i>
            <span>Crear tarjeta</span>
        </button>
    </div>
    <!-- AFTER -->
    <div class="share__paragraph">
        <h3>La tarjeta ha sido creada:</h3>
        <a href="#">
            <p class="share__paragraph--text">
                https://awesome-profile-card.com?id=A456DF00
            </p>
        </a>
        <a href="#">
            <button class="share__paragraph--twButton">
                <i class="fab fa-twitter share__paragraph--icon"></i>
                <span>Compartir en twitter</span>
            </button>
        </a>
    </div>
</fieldset>