<fieldset>
    <legend>
        <i class="fas fa-share-alt"></i>
        <h2>Comparte</h2>
        <a><i class="fas fa-chevron-down"></i></a>
    </legend>
    <div>
        <button>
            <i class="far fa-address-card"></i>
            <span>Crear tarjeta</span>
        </button>
    </div>
    <!-- AFTER -->
    <div>
        <h3>La tarjeta ha sido creada:</h3>
        <a href="#">
            <p>https://awesome-profile-card.com?id=A456DF0001</p>
        </a>
        <button>
            <i class="fab fa-twitter"></i>
            <span>Compartir en twitter</span>
        </button>
    </div>
</fieldset>