/*COLORS*/

$colorButton: #3e5b65;
$colorMain: #e17334;
$colorText: #54585a;
$colorLegend: #114e4e;
$colorPlaceholder: #c5c5c5;

/*FONTS*/
$fontMain: "Open Sans", sans-serif;
$fontCard: "Montserrat", sans-serif;

/*MIXINS LABELS AND PLACHOLDERS*/
