.fill {
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: 1px #d8d8d8 solid;
  &__anunc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    &--wrapper {
      display: flex;
      &--icon {
        width: 21px;
        height: 18px;
        margin: 13px 0 28px 0;
        font-size: 18px;
        color: $colorMain;
        line-height: 1.1;
        text-align: end;
      }
      &--h2 {
        @include text-h2;
      }
    }

    &--arrow {
      margin: 10px 0 10px 0;
      color: #54585a;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;padding-bottom: 30px;
    &--required {
      @include label();
    }
    &--input {
      @include input();
    }
  }
}
.div-container {
  display: flex;
  &__patata {
    height: 30px;
    width: 140px;
    font-size: 14px;
    font-family: sans-serif;
    color: #fff;
    background-color: #e17334;
    padding: 6px 0 3px 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    display: inline-block;
    text-align: center;
  }
  &__button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__check {
    width: 30px;
    height: 30px;
    border: solid 1px #a2deaf;
    margin-left: 20px;
    background-size: cover;
    background-position: center center;
  }
}
