.footer {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
  border-top: 1px #d8d8d8 solid;
  @media all and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: end;
    width: 100%;
  }
}

.copyFooter {
  font-family: $fontMain;
  font-size: 14px;
  color: #b8b8b9;
  text-transform: none;
  margin: 0 0 12px;
  object-fit: contain;
  @media all and(min-width:768px) {
    margin-left: 41px;
    line-height: 20px;
  }
}

.logoFooter {
  width: 103px;
  height: 40px;
  object-fit: contain;
  @media all and(min-width:768px) {
    margin-right: 40px;
    width: 103px;
    height: 40px;
  }
}
