.footer {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}

.copyFooter {
  font-family: $fontMain;
  font-size: 14px;
  color: #b8b8b9;
  text-transform: none;
  margin: 0 0 12px;
}

.logoFooter {
  width: 103px;
  height: 40px;
}
