.header {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 30px;
}

.logoHeader {  width: 201px;
    height: 50px;
    object-fit: contain;
}