@import './_design.scss';
@import './_fill.scss';
@import './_share.scss';

.whiteSection {
  padding: 27px 20px 30px 20px;
  background: linear-gradient(to bottom, #f5f5f5, white 9%);
  @media all and(min-width:768px) {
    background-color: #f5f5f500;
  }

}
